.idea/
*__pycache__*
SMUTHI.egg*
snippets/
dist/
scripts/*.dat
docs/_build/
docs/_static/
docs/_templates/
NFM*.mod
build/
NFM*.exe
data/
nfmds_*
*smuthi_output*
.project
.pydevproject
.settings
*.pyc
*.prof
*.lprof
*_nfmds_installation_path.txt
*~
scripts/*
examples/*/output
